<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  </head>
  <body>
    <nav>
      <a href="index.html">Home</a>
    </nav>
    <section id="main-content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </section>
    <section id="sidebar">
      <h1>Recent Posts</h1>
      <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>